NODE_ENV=dev
APP_ID={BOT APPLICATION ID}
GUILD_ID={DISCORD SERVER ID}
DISCORD_TOKEN={BOT ACCESS TOKEN}
PUBLIC_KEY={BOT PUBLIC KEY}
AML_LIST_FILEPATH=~/amlkyc-data-sources/sdnlist.txt
ENABLE_PRETTY_LOG=true
ENABLE_DISCORD_CMDS_REGISTRATION=true
API_BASE_URL=http://localhost:8080
DISCORD_BOT_AUTH_URL=https://discord.com/api/oauth2/authorize?client_id={{BOT APPLICATION ID}}&permissions=2147485696&scope=applications.commands%20bot
GTM_ID=
GTM_API_SECRET=
GTM_CLIENT_ID=