<!DOCTYPE html>
<html lang="en">
<%- include('./header', {route:"/about", title: "About" , gtmId: gtmId}) %>

  <body class="bg-color">
    <div class="container">

      <div class="search mx-auto">
        <div class="wrap">
          <div class="logo center">
            <a href="/"><IMG SRC="/assets/caml-logo.png" width="100%" height="100%"> </a>
          </div>
        </div>
      </div>
      <div class="text-start">
        <div class="form w-80 center">
          <h2 class="p-3">About CAML</h2>
          <p>
            CAML allows you to check if a person, crypto wallet, or entity is on the US Specially Designated Nationals and Blocked
            Persons Lists (“SDN Lists”). Financial institutions operating within the US or with US financial entities check pending
            transactions, prior transaction logs, and customer lists for matches against the SDN Lists. Matches result in blocked
            transactions, locked accounts and notifications to appropriate legal authorities. US entities and individuals should not
            transact with individuals, wallet addresses and entities which appear on the SDN Lists.
          </p>
          <p>
            Use CAML via our website or through our Discord bot to check crypto wallet addresses, names, physical addresses and/or
            entity names. If a match against the SDN Lists is found you'll be presented with access to the full matching entry. If
            you're confident a proper match has been made you should seek legal advice prior to conducting a transaction with the
            person/entity you checked.
          </p>
          <p>
            CAML supports partial, case-insensitive and limited regex queries for a single entity query. In the future, the ability
            to support longer lists of queries will be supported. Support for similar lists from the EU, UK and other jurisdictions
            will be added in the future.
          </p>
          <p> 
            CAML is automatically updated every 24 hours using the official U.S. Department Of The Treasury source file sdnlist.txt.
            We perform automatic integrity verification of the downloaded sndlist.txt SHA-256 checksum against the OFAC hash values
          list.
          </p>
          <p>
            Brought to you by Phillip Zakas, Yeramin Santana and Bogdan Bodnarescu.
          </p>
          <p>
            If you wish to support CAML, contact us at: <a href="mailto:support@container23.com?subject=Question about CAML">
            support@container23.com</a>
          </p>
        </div>
      </div>
    </div>
    </div>
    <%- include('./footer'); %>
  </body>

</html>