<!DOCTYPE html>
<html lang="en">
<%- include('./header', {route:"/discord/bot", title: "Discord Bot Integration" , gtmId: gtmId}) %>

  <body class="bg-color">
    <div class="d-flex align-items-center min-vh-100">
      <div class="container">
        <div class="search mx-auto w-80">
          <div class="wrap">
            <div class="logo center">
              <a href="/"><IMG SRC="/assets/caml-logo.png" width="100%" height="100%"> </a>
            </div>
          </div>
          <div class="form">
            <h2>Discord Bot Integration</h2>
            <p class="text-primary primary">
              A simple Discord Bot for performing a wallet, address <br>
              and name check against the US FINCEN AML list. </p>
            <h2>
              <a id="discordIntegrateBtn" class="btn" rel="noopener noreferrer" target="_blank"
                href="<%= discordBotAuth %>">Integrate with your Discord
                server
                <span>➪</span>
              </a>
            </h2>
          </div>
        </div>
      <%- include('./footer'); %>
      </div>
    </div>
  </body>

</html>