<TR ALIGN=LEFT>
<TD VALIGN=CENTER BGCOLOR="#EEEEEE" WIDTH="100%">
<CENTER>Get updates monthly!</CENTER>
</TD>
</TR>
<FORM method=GET action="http://www.findmail.com/cgi-bin/subscribe.py"><INPUT type=hidden name="listname" value="google-friends">
<TR ALIGN=LEFT>
<TD BGCOLOR="#EEEEEE">
<CENTER><INPUT type=text name="emailaddr" value="your e-mail" size=18>
<INPUT type=submit name="SubmitAction" VALUE="Subscribe"><FONT SIZE=-1>&nbsp;&nbsp;
    <a rel="noopener noreferrer" target="_blank" href="https://github.com/container23/kycaml-bot" > Source Code </a>
</FONT>
</CENTER>

</TD>
</TR>
</FORM>