<footer class="text-center">
    <a href="/">Home</a> | <a href="/discord/bot">Discord Bot</a> | <a href="/metamask">MetaMask Snap</a> | <a href="/about">About</a> | <a href="/privacy">Privacy</a> 
    | <a href="/terms">Terms</a>
    | <a rel="noopener noreferrer" target="_blank" href="https://github.com/container23/caml"> Source Code </a>
    <br><br>
    <p>Copyright &copy; Container23 2023, All Rights Reserved</p>
</footer>
<!--JavaScript at end of body for optimized loading-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@v2.8.9/dist/cookieconsent.js"></script>
<script defer src="/assets/cookieconsent-init.js"></script>