<!DOCTYPE html>
<html lang="en">
  <%- include('./header', {route:"/home", title: "AMLBot HomePage", gtmId: gtmId}) %>
  <body class="bg-color">
    <%- include('./search'); %>
    <%- include('./scripts'); %>
    <%- include('./footer'); %>
  </body>
</html>