<!DOCTYPE html>
<html lang="en">
<%- include('./header', {route:"/home", title: "AMLBot HomePage", gtmId: gtmId}) %>
<body class="bg-color">
    <div class="container">
      <div class="mx-auto w-50">
        <div class="wrap">
          <div class="logo center">
            <a href="/"><img src="/assets/caml-logo2.png" width="100%" height="100%"> </a>
          </div>
        </div>
          <%- include('./search', { searchTerm: ""}); %>
      </div>
      <div class="cookie-consent d-flex justify-content-center mt-5">
          <div class="card p-3 cookie"><span>We use third party cookies to personalize content, ads and analyze site traffic.<br></span>
              <div class="mt-4">
                <span class="mr-3 decline">Decline</span>
                <button class="btn btn-light btn-sm" type="button">Allow cookies</button>
              </div>
          </div>
      </div>
      <%- include('./footer'); %>
    </div>
    <%- include('./scripts'); %>
</body>
</html>