<!DOCTYPE html>
<html lang="en">
<%- include('./header', {route:"/home", title: "AMLBot HomePage", gtmId: gtmId}) %>
<body class="bg-color">
    <div class="container">

      <%- include('./search'); %>

      <%- include('./footer'); %>
    </div>
    <%- include('./scripts'); %>
</body>
</html>