    <div class="row">
        <div class="col-3 p-3">
            <div class="logo center">
                <a href="/"><IMG SRC="/assets/caml-logo2.png" width="100%" height="100%"> </a> 
            </div>
        </div>
        <div class="col-9 form p-3">
            <FORM method=GET action="/aml/search?term">
            <p>Check Name, Address, Crypto Address using this tool!</p>
            <INPUT type=text name="term" value="" size=40>
            <BR>
            <input type="checkbox" name="terms" id="terms" onchange="activateButton(this)">&nbsp; I agree with
            <a rel="noopener noreferrer" target="_blank" href="https://github.com/container23/kycaml-bot/blob/main/tos.txt">Terms of Service</a>
            <INPUT type=submit value="AML Search"><br>
            <br>
            <p class="italic">Index contains ~235k lines (soon to be much bigger)</p>
            </form>
        </div>
    </div>