// styles.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

// @import "../../node_modules/bootstrap-scss/bootstrap";


// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap-scss/functions";

// 2. Include any default variable overrides here


// Default variable overrides
$body-bg: #e0e1dd;
$primary: #0d1b2a;
$secondary: #415a77;
$secondary2: #6B728E;
$third: #484959;
$bg-contrast: #75767e;
$danger: #ff4136;
$warning: #c3970d;


$body-color: $primary;
$btn-color: $third;
$btn-hover: $secondary2;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  // "success":    $success,
  // "info":       $info,
  // "warning":    $warning,
  "danger":     $danger,
  // "light":      $light,
  // "dark":       $dark
);


// 3. Include remainder of required Bootstrap stylesheets
@import "../../node_modules/bootstrap-scss/variables";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../../node_modules/bootstrap-scss/maps";
@import "../../node_modules/bootstrap-scss/mixins";
@import "../../node_modules/bootstrap-scss/root";

// 6. Optionally include any other parts as needed
@import "../../node_modules/bootstrap-scss/utilities";
@import "../../node_modules/bootstrap-scss/reboot";
@import "../../node_modules/bootstrap-scss/type";
@import "../../node_modules/bootstrap-scss/images";
@import "../../node_modules/bootstrap-scss/containers";
@import "../../node_modules/bootstrap-scss/grid";
@import "../../node_modules/bootstrap-scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../../node_modules/bootstrap-scss/utilities/api";

// 8. Add additional custom code here

// Homepage / General section
.logo {
    width: 70%;
    padding: 1em;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container{
    text-align: center;
}

// Search Section
.search {
    text-align: center;
}

#search-input {
    border-radius: 0;
}


.form {
    background-color:#eee;
    border: 1px #0d1b2a;
    padding: 1em;
}

.search-nav-container {
    background-color: #75767e !important;
}

.search-btn-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 0;
}

.search-agreement-txt {
  align-self: flex-end;
  font-size: 10px;
}

.search-icon > svg {
    color: #ffffff;
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 17px;
    margin-top: 11px;
    margin-left: 11px;
}

.search-btn {
    background: $btn-color none repeat scroll 0 0;
    color: #ffffff;
    outline: medium none;
    text-decoration: none;
    font-weight: 600; 
    font-size: 20px;
    padding: 2px 30px;
    margin-left: 10px;
}

.search-btn:hover { 
    background-color: $btn-hover; 
    color: #ffffff;
}

// Results Section
.root-results-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px 4px;
  text-align: center;
}

.results-container > p {
    font-size: 18px;
}

.results-list {
    text-align: start;
    max-height: 50em;
    overflow-y: scroll;
    border-radius: unset;
}

.results-list > li {
    background-color: #dcdcdc;
}

.results-list > li > div :hover {
    background-color: $secondary2; 
    color: #ffffff;
}

.warning-icon {
    color: $warning;
    font-size: 16px;
}

// About Section
.about{
    text-align: left;
}
.form > h2{
    text-align: center;
}

// Bot Section
.btn {
    background: $btn-color none repeat scroll 0 0;
    border: 1px solid #ffffff;
    border-radius: 1pc;
    color: #ffffff;
    outline: medium none;
    padding: 0.2em 1em;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
}

.btn:hover { 
    background-color: $btn-hover; 
    color: #ffffff;
}

// Footer Section
footer {
    padding: 10px;
    margin: 10px;
}